
body {
    font-family:'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size:16px;
    font-weight:400;
    color:#444;
    line-height:36px
}

p {
    margin-top:5px;
    margin-bottom:10px
}

#share {
    position:absolute;
    top:40px;
    left:40px;
    font-weight:bold
}
#share .button {
    -webkit-border-radius:34px;
    border-radius:34px;
    padding:9px 20px 11px 20px;
    line-height:1;
    background:#ea4c89;
    cursor:pointer;
    margin-right:10px;
    color:white;
    display:inline-block;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out
}
#share .button:hover {
    background:#e51e6b
}
#share .count {
    display:inline-block;
    color:#CCCCCC
}

#staggered-test li{
    opacity:0;
   
}
.welcome-text {
    padding-top: 180px;
}

.hook {
    font-size: 40px;
    font-weight: bold;
    Text-transform: uppercase;
}

.intro-text {
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 20px;
    font-weight: bold;
}

.confirmation {
    font-size: 21px;
    font-weight: bold;
    Text-transform: uppercase;
    color: red;
}

.features {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    list-style-type: disc;
    margin-left: 60px;
}

#mc_embed_signup{
    padding-top: 10px;
}

.email-header {
    padding-bottom: 15px;
    font-size: 28px;
    font-weight: bold;
}

@media only screen and (max-width: 480px){
    .welcome-text {
        padding-top: 80px;
    }
    
    h3 {
        font-size:2.1rem!important;
    }
    
    .hook {
        font-size: 26px;
    }
            
    .intro-text {
        padding-top: 10px;
        font-size: 20px;
        text-align: left;
        padding-left: 20px;
        line-height: 25px;
    }
    
    .confirmation {
        font-size: 18px;
    }
    
    
    .features {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 20px;
        padding-right: 10px;
        list-style-type: disc;
        margin-left: 20px;
    }
    
    #share {
        top: 10px;
        left: 10px;
    }
    
    .email-header {
        font-size: 22px;
    }
}