{% load staticfiles %}
{% load widget_tweaks %}
{% load compress %}
<html>
  <head>
    <meta name="author" content="@anthonyjgrove">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="application-name" content="MobVenture"/>

    <meta itemprop="image" content="http://mobventure.com/static/img/og.png"/>
    <meta property="og:image" content="http://mobventure.com/static/img/og.png">
    <meta name="twitter:image:src" content="http://mobventure.com/static/img/og.png"/>
    <!-- OG image/ Lord Helix's Sprite designed by Hamigakimomo. -->

    <meta itemprop="name" content="No CEO... Just the MOB | MobVenture">
    <meta property="og:title" content="No CEO... Just the MOB | MobVenture"/>
    <meta name="twitter:title" content="No CEO... Just the MOB | MobVenture">

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://mobventure.com/"/>
    <link rel="canonical" href="http://mobventure.com/">
    <meta name="description" content="MobVenture is a social experiment where every business decision in a startup, normally made by the CEO, will be decided by the crowd.">
    <meta property="og:description" content="MobVenture is a social experiment where every business decision in a startup, normally made by the CEO, will be decided by the crowd.">
    <meta name="twitter:description" content="MobVenture is a social experiment where every business decision in a startup, normally made by the CEO, will be decided by the crowd.">
    <meta itemprop="description" content="MobVenture is a social experiment where every business decision in a startup, normally made by the CEO, will be decided by the crowd.">

    <title>No CEO... Just the MOB | MobVenture</title>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-67296125-1', 'auto');
      ga('send', 'pageview');
    </script>
      <!-- Hotjar Tracking Code for mobventure.com -->
      <script>
          (function(h,o,t,j,a,r){
              h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
              h._hjSettings={hjid:72322,hjsv:5};
              a=o.getElementsByTagName('head')[0];
              r=o.createElement('script');r.async=1;
              r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
              a.appendChild(r);
          })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
      </script>
      <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
      {% compress css %}
      <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css">
      {% endcompress %}
  </head>
  <body>
    <div class="row welcome-text">
      <div class="col s12 m6 offset-m3 center">
        <div class ="hook blue-text text-darken-1">No CEO... Just the Mob</div>
        <p class="flow-text grey-text">a startup controlled by the masses</p>
        <br>
        <a id="show-more" href="#!" class="waves-effect waves-light btn green accent-3" onclick="Materialize.showStaggeredList('#staggered-test')">Tell Me More</a>
      </div>
    </div>  
  
    <div class="row">
      <div class="col s12 m6 offset-m3 center">
        <ul id="staggered-test">
          <li>
            <div class="intro-text">
            Inspired by the shocking success of the social experiment "Twitch Plays Pokemon", in which approximately 1.16 million people actively controlled the inputs of a player in the game Pokemon to completion, MobVenture is organizing a social experiment where: 
              <ul>
                <li class="features blue-text text-darken-2">All decisions normally made by the CEO will be voted on by the group; starting with what the product will be.</li>
                <li class="features blue-text text-darken-2">Day to day execution will be left to a team selected by the group. </li>
                <li class="features blue-text text-darken-2">All startup metrics will be completely open and available to the public. </li>
                <li class="features blue-text text-darken-2">An open discussion regarding the startup decision making process and other guidelines will take place soon. </li>
              </ul>
            </div>
          </li>
          <li>
            <div>
            <div class="email-header" >Pre-Register for Guaranteed Voting Rights!</div>
              <div class="row">
              <div class="col s12 m6 offset-m3 center">
              <!-- Begin Signup Form -->
               {% if form %}
              <form action="" method="post" enctype="multipart/form-data" class="validate col s12">{% csrf_token %}{{ form.media }}
                <div class="row">
                  <div class="input-field col s12">
                    {% render_field form.mem_email id+="email" type+="email" class+="required email validate" %}
                    <label for="email">Email</label>
                  </div>
                  <div class="form-group warning">
                    {% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
                  </div>
                  {% if field.errors %}
                  {% for error in field.errors %}
                  <div class="alert alert-danger" id="error_{{ field.name }}">{{ error|escape }}</div>
                  {% endfor %}
                  {% endif %}
                </div>
                </div>
                <button type="submit" role="button" value="{{ verb|default:"Submit" }}" class="submit button clear waves-effect waves-light btn red lighten-1">
                  Pre-Register Me   
                </button>
              </form>
              {% endif %}
              <!--End signup-->
              </div>
            </div>
          </div>
        </li>
        </ul>
      </div>
    </div>
    <div id="share">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mobventure.com" data-text="Check Out MobVenture, they are creating a startup controlled by public votes" data-size="large" data-hashtags="startup"></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  </body>
</html>